.about-page{
    padding-bottom: 5%;
}

.about-header-img{
    background-image: url("/about_header.jpg");
    min-height: 250px;
    background-size: 100% 100%;
}

.about-title{
    margin-top: 100px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #44504E;
    text-transform: uppercase;
    font-weight: 600;
}

.about-para{
    color: #44504E;
    width: 40%;
    margin-left: 30px;
}

.capital-letter::before{
    content:"g";
    text-transform: capitalize;
    font-size: 32px;
}

.about-links{
    color: #44504E;
    margin: 20px 0px 20px 30px;
    text-transform: uppercase;
}

@media screen and (max-width:700px){
    .about-para{
        width: 100%;
        margin-left: 0;
    }
}