.shale-page{
    padding-bottom: 5%;
}

.shale-header{
    height: 250px;
    background-image: url("/shale_header.jpg");
    background-size: 100% 100%;
}

.shale-title{
    margin-top: 100px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #44504E;
    text-transform: uppercase;
    font-weight: 600;
}

.shale-map{
    height: 275px;
    background-image: url("/map.png");
    background-size: 100% 100%;
}

.para-container{
    display: flex;
    justify-content: space-evenly;
}

.para-content{
    width: 45%;
}

.para-content p{
    margin-bottom: 15px;
    margin-top: 0px;
    color: #44504E;
    font-weight: 400;
    text-align: justify;
}

.additional-links h3{
    font-size: 16px;
    color: #44504E;
    font-weight: 600;
    margin-top: 50px;
}

.additional-links a{
    display: block;
    font-size: 12px;
    color: #44504E;
    margin-top: 25px;
    margin-left: 25px;
}