.team-title{
    color: #44504E;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 50px 0 0 50px;
}

.member-name{
    color: #44504E;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 50px 0 0 20%;
}

.mem-designation{
    font-size: 18px;
    color: #44504E;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 0 0 20%;
}

.mem-desc{
    font-size: 17px;
    color: #616161;
    line-height: 18px;
    margin-left: 20%;
    width: 50%;
}

@media screen and (max-width:700px){
    .member-name{
        margin-left: 0;
    }

    .mem-designation{
        margin-left: 0
    }

    .mem-desc{
        margin-left: 0;
        text-align: center;
        width: 100%;
        text-align: justify;
    }
}