.technology-header{
    min-height: 300px;
    background-image: url("/technology.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.tech-title{
    width: 90%;
    max-width: 1440px;
    margin: 75px auto 0 auto;
}

.tech-title h3{
    margin:0;
    color: white;
    font-weight: 400;
}

.tech-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.tech-content{
    width: 45%;
}

.tech-overview{
    color: #44504E;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.tech-overview-desc{
    color: #44504E;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.tech-heading{
    color: #3A4D5C;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.tech-desc{
    padding-left: 10px;
    line-height: 20px;
    font-style: italic;
    color: #44504E;
    margin: 5px 0 0 0;
}

.list-item-desc{
    padding-left: 10px;
    line-height: 20px;
    color: #44504E;
    margin: 20px 0 0 0;
}

.list-footer{
    color: #44504E;
}

.key-process{
    margin-top: 50px;
    min-height: 385px;
    background-image: url("/key_process.jpg");
    background-size: 100% 100%;
}