.news-title{
    color: #44504E;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 50px 0 10px 30px;
}

.news-link{
    margin-left: 10%;
    margin-top: 50px;
    font-size: 14px;
    text-decoration: underline;
    color: #44504E;
    font-weight: 600;
}

.news-para{
    font-size: 14px;
    margin: 0 0 0 10%;
    color: #44504E;
}