.header{
    background-color: #253d49;
}

.header-cont{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-links{
    display: flex;
    align-content: center;
}

.header-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1rem;
    transition: background 300ms ;
}

.header-links a:hover{
    background-color: #2d505f;
}

.active-link{
    background-color: #2d505f;
}

@media screen and (max-width: 1210px){
    .header-cont{
        flex-direction: column;
        align-items: center;
    }
    
    
    
}

@media screen and (max-width: 1010px){
    .header .container{
        width: 100%;
    }

    .header-links{
        width: 100%;
    }

    .header-links{
        flex-direction: column;
        align-content: center;
    }

    .header-links a{
        padding: 0.5rem 0;
    }
}