.adg-page{
    background-color: #eeeeee;
}

.env-header{
    min-height: 300px;
    background-image: url("/environment_hedear.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.gsi-title{
    color: #44504E;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 50px;
   
}

.gsi-desc{
    font-size: 16px;
    color: #616161;
    line-height: 18px;
    margin: 0;
    font-weight: 600;
}

.env-title{
    width: 90%;
    max-width: 1440px;
    margin: 75px auto 0 auto;
}

.env-title h3{
    margin:0;
    color: white;
    font-weight: 400;
}

.adg-container{
    width: 70%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adg-content{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.adg-title{
    font-size: 23px;
    color: #3F99E4;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
}

.adg-sub-title{
    color: #68C35A;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
}

.adg-main-para{
    font-size: 17px;
    color: #616161;
    line-height: 18px;
}

.adg-para{
    font-size: 16px;
    color: #616161;
    line-height: 18px;
    margin: 0 0 0 32px;
    font-weight: 400;
}

.adg-list{
    margin-left: 32px;
    margin-top: 0px;
}

.adg-list-item{
    font-size: 16px;
    color: #616161;
    line-height: 18px;
    padding-top: 15px;
    font-weight: 400;
}

.gsi-img-cont{
    display: flex;
    justify-content: space-between;
}

.gsi-img-desc{
    width: 50%;
}

.gsi-adg-img{
    width: 45%;
}

.gsi-adg-img div{
    min-height: 216px;
    background-image: url("/gsi_advantage.png");
    background-size: 100% 100%;
    margin-top: 20px;
}