.container{
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.p-5{
  padding-bottom: 5%;
}

.mt-2{
  margin-top: 2rem !important; 
}

.active-link{
  background-color: #2d505f;
}